<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FreshBeef News</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'lib/font-awesome.min.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>
    <header>
        <div class="container top-header">
            <div class="content">
                <div class="logo">
                    <a href="{% url 'news:homepage' %}">
                        <img src="{% static 'img/67741-200.png' %}">
                        <div class="brand">
                            <span>Fresh Beef News</span>
                        </div>
                    </a>
                </div>
                <div class="search">
                    <div class="search-content">
                        <a>
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                        <input type="text"/>
                    </div>
                </div>
                <div class="account">
                    <div class="account-content-parent">
                        <div class="account-content">
                            <a type="button" href="{% url 'news:homepage' %}"><span>LOGIN</span></a>
                            <a type="button" href="{% url 'news:homepage' %}"><span>SIGN UP</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="spacer"></section>

    <div class="container middle-header">
        <nav class="socialmedia-navigation">
            <ul>
                <li>
                    <a href="https://www.facebook.com/tudor.rotarus" target="_blank">
                        <i class="fa fa-2x fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/tudor.rotarus" target="_blank">
                        <i class="fa fa-2x fa-twitter" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/tudor_rotarus/" target="_blank">
                        <i class="fa fa-2x fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <nav class="pages-navigation">
            <ul>
                <li>
                    <a href="{% url 'news:homepage' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'news:category' %}">Category</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <footer>

    </footer>
</body>
</html>